@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap'); 

:root{
    --main-color:#fab950;
    --black:#13131a;
    --bg:#5b190a;
    --border:.1rem solid rgba(255, 255, 255, 0.47);
}
*{
    font-family: 'Roboto', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    outline: none; border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 9rem;
    scroll-behavior: smooth;
}

html::-webkit-scrollbar{
    width: .8rem;
}

html::-webkit-scrollbar-track{
    background: transparent;
}

html::-webkit-scrollbar-thumb{
    background: #fff;
    border-radius: 5rem;
}

body{
    background: var(--bg);
}

section{
    padding: 2rem 7%;
}

.heading{
    text-align: center;
    color:#fff;
    text-transform: uppercase;
    padding-bottom: 3.5rem;
    font-size: 4rem;
}

.heading span{
    color: var(--main-color);
    text-transform: uppercase;
}

.btn{
    margin-top: 1rem;
    display: inline-block;
    padding: .9rem 3rem;
    font-size: 1.7rem;
    color: #fff;
    background: var(--main-color);
    cursor: pointer;
}

.btn:hover{
    letter-spacing: .2rem;
}

.header{
    background: #6e1f02;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 7%;
    border-bottom: var(--border);
    position: fixed;
    top:0; left: 0; right: 0;
    z-index: 1000;
}

.header .logo img{
    height: 6rem;
}

.header .navbar a{
    margin: 0 1rem;
    font-size: 1.6rem;
    color: #fff;
}

.header .navbar a:hover{
    color:var(--main-color);
    border-bottom: .1rem solid var(--main-color);
    padding-bottom: .5rem;
}

.header .icons div{
    color: #fff;
    cursor: pointer;
    font-size: 2.5rem;
    margin-left: 2rem;
}

.header .icons div:hover{
    color: var(--main-color);
}

#menu-btn{
    display: none;
}

.header .search-form{
    position: absolute;
    top:115%; right: 7%;
    background: #fff;
    width: 50rem;
    height: 5rem;
    display: flex;
    align-items: center;
    transform: scaleY(0);
    transform-origin: top;
}

.header .search-form.active{
    transform: scaleY(1);
}

.header .search-form input{
    height: 100%;
    width: 100%;
    font-size: 1.6rem;
    color: var(--black);
    padding: 1rem;
    text-transform: none;
}

.header .search-form label{
    cursor: pointer;
    font-size: 2.2rem;
    margin-right: 1.5rem;
    color: var(--black);
}

.header .search-form label:hover{
    color: maroon;
}

.header .cart-items-container{
    position: absolute;
    top:100%; right: -100%;
    height: calc(100vh - 9.5rem);
    width: 35rem;
    background: #fff;
    padding: 0 1.5rem;
}

.header .cart-items-container.active{
    right: 0;
}

.header .cart-items-container .cart-item{
    position: relative;
    margin: 2rem 0;
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.header .cart-items-container .cart-item .fa-times{
    position: absolute;
    top: 1rem; right: 1rem;
    font-size: 2rem;
    cursor: pointer;
    color: var(--black);
}

.header .cart-items-container .cart-item .fa-times:hover{
    color: var(--main-color);   
}

.header .cart-items-container .cart-item img{
    height: 7rem;
}

.header .cart-items-container .cart-item .content h3{
    font-size: 2rem;
    color: var(--black);
    padding-bottom: .5rem;
}

.header .cart-items-container .cart-item .content .price{
    font-size: 1.5rem;
    color: var(--main-color);
}

.header .cart-items-container .btn{
    width: 100%;
    text-align: center;
}

.home{
    min-height: 100vh;
    display: flex;
    align-items: center;
    background: url(../image/home.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}

.home .content{
    max-width: 60rem;
}

.home .content h3{
    font-size: 5rem;
    text-transform: uppercase;
    color: #fff;
}

.home .content p{
    font-size: 2rem;
    font-weight: lighter;
    line-height: 1.8;
    padding: 1rem 0;
    color: rgba(255, 255, 255, 0.823);
}

.about .row{
    display: flex;
    align-items: center;
    background: #803021;
    flex-wrap: wrap;
    text-align: center;
}

.about .row .image{
    flex: 1 1 45rem;
}

.about .row .image img{
    width: 100%;
}
.about .row .content{
    flex: 1 1 45rem;
    padding:2rem
}

.about .row .content h3{
    font-size: 5rem;
    color: #fff;
    text-align: center;
}

.about .row .content p{
    font-size: 2rem;
    color: #ccc;
    padding: 1rem 0;
    line-height: 1.8;
    text-align: center;
}

.private .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 1.5rem;
}

.private .box-container .box{
    padding: 5rem;
    text-align: center;
    border: var(--border);
    background: #a23823;
}

.private .box-container .box img{
    height: 10rem;
}

.private .box-container .box h3{
    color: rgb(255, 255, 255);
    font-size: 2.5rem;
    padding: 1rem 0;
}

.private .box-container .box .price{
    color: #fff;
    font-size: 1.5rem;
    padding: 2.5rem 0;
}

.private .box-container .box:hover{
    background: rgb(255, 255, 255);
}

.private .box-container .box:hover *{
    color: black;
}

.private .service-items .read-more-cont{
	display: none;
}

.popup-box{
	position: fixed;
	height: 100%;
	width: 100%;
	left: 0;
	top:0;
	background-color: rgba(0,0,0,0.5);
	z-index: 500;
	visibility: hidden;
	opacity:0;
	transition: all 0.5s ease-in-out;
}
.popup-box.open{
  visibility: visible;
	opacity:1;	
}
.popup-box .popup-content{
	background-color: var(--main-color);
	width: 600px;
	position: absolute;
	left: 50%;
	top:50%;
	transform: translate(-50%,-50%);
	border-radius: 8px;
}

.popup-box .popup-header{
	padding: 15px 40px 15px 15px;
	border-bottom: 2px solid var(--bg);
}
.popup-box .popup-header h3{
	margin:0;
	color:#000000;
	font-size: 20px;
}
.popup-box .popup-header .popup-close-icon{
	position: absolute;
    height: 30px;
    width: 30px;
    text-align: center;
    color: var(--bg);
    font-size: 28px;
    line-height: 30px;
    right: 5px;
    top: 5px;
    cursor: pointer;
}
.popup-box .popup-body{
	padding: 15px;
	max-height: 300px;
	overflow-y: auto;
}
.popup-box .popup-body img{
	width: 100%;
	display: block;
	margin-top: 15px;
}
.popup-box .popup-body p{
	font-size: 18px;
	color:#000000;
	margin:0 0 15px;
}
.popup-box .popup-body li{
	font-size: 17px;
	color: #3e0b00;
	margin:0 0 15px;
}
.popup-box .popup-footer{
	padding: 12px;
	border-top:2px solid var(--bg);
	text-align: right;
}
.popup-box .popup-footer .btn{
	padding: 8px 15px;
	border:1.5px solid #5b190a;
	color:#0a0a0a;
	font-size: 16px;
	background-color: transparent;
	cursor: pointer;
	border-radius: 4px;
}
.popup-box .popup-footer .btn:focus{
	outline: none;
}


.public .container {
    perspective: 1000px;
    height: 50vh;
    width: 100%;
    cursor: pointer; 
}


.public .card{
    transform-style: preserve-3d;
    height:100%;
    width: 310%;
    transition: 0.5s ease;
    box-shadow: 0 0 35px rgba(0, 0, 0, 0.12);
}
.public .front,
.public .back {
    height: 100%;
    width: 100%;
    transform-style: preserve-3d; 
    color: #ffffff; 
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: justify;
    border-radius: 0.10rem;
    position: absolute;
    top: 0;
    bottom: 0;
    backface-visibility: hidden;
}
.public .front{
    background: linear-gradient(to right,#5a0707, #070707);
}
.public .front img{
    width: 6em;
}
.public .content{
    transform: translateZ(60px);
}
.public .content h3 {
    font-size: 30px;
    margin-top: 1;
    font-weight: 600;
    letter-spacing: 0.04em;
}
.public .content p {
    font-size: 20px;
    line-height: 1rem;
    letter-spacing: 0 0.2em;
    padding: 0.3em;
}
.public .back {
    background-color: rgb(164, 49, 49);
    transform: rotateX(180deg);
}
.public .container:hover .card {
    transform: rotateX(180deg);
}

.images .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap:1.5rem;
}

.images .box-container .box{
    text-align: center;
    border:var(--border);
    padding: 2rem;
}

.images .box-container .box .icons a{
    height: 5rem;
    width: 5rem;
    line-height: 5rem;
    font-size: 2rem;
    border:var(--border);
    color: #fff;
    margin: .3rem;
}

.images .box-container .box .icons a:hover{
    background: var(--main-color);
}

.images .box-container .box .image{
    padding: 2.5rem 0;
}

.images .box-container .box .image img{
    height: 25rem;
}

.images .box-container .box .content h3{
    color: #fff;
    font-size: 2.5rem;
}

.location .row{
    display: flex;
    background: #954535;
    flex-wrap: wrap;
    gap: 1rem;
}

.location .row .map{
    flex: 1 1 45rem;
    width: 100%;
    object-fit: cover;
}

.location .row .form{
    flex: 1 1 45rem;
    padding: 5rem 2rem;
    text-align: center;
}

.location .row .form h3{
    text-transform: uppercase;
    font-size: 3.5rem;
    color: #fff;
}

.location .row form .inputBox{
    display: flex;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
    background-color: var(--bg);
    border: var(--border);
}

.location .row form .inputBox span{
    color: #fff;
    font-size: 2rem;
    padding-left: 2rem;
}

.location .row form .inputBox input{
    width: 100%;
    padding: 2rem;
    font-size: 1.7rem;
    color: #fff;
    text-transform: none;
    background: none;
}

.students .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 1.5rem;
}

.students .box-container .box{
    border: var(--border);
    text-align: center;
    padding: 3rem 2rem;
}

.students .box-container .box p{
    font-size: 1.5rem;
    line-height: 1.8;
    color: #ccc;
    padding: 2rem 0;
}

.students .box-container .box .quote{
    height: 7rem;
    width: 7rem;
}
.students .box-container .box .user{
    height: 7rem;
    width: 7rem;
    border-radius: 50%;
    object-fit: cover;
}

.students .box-container .box h3{
    padding: 1rem 0;
    font-size: 2rem;
    color: #fff;
}

.footer{
    background: var(--bg);
    text-align: center;
}

.footer .share{
    padding: 1rem 0;
}

.footer .share a{
    height: 5rem;
    width: 5rem;
    line-height: 5rem;
    font-size: 2rem;
    color: #fff;
    border: var(--border);
    margin: 3rem;
    border-radius: 50%;
}

.footer .share a:hover{
    background-color: var(--main-color)
}

.footer .links{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 2rem 0;
    gap: 1rem;
}

.footer .links a{
    padding: 1.5rem 1rem;
    color: #fff;
    border: var(--border);
    font-size: 2rem;
}

.footer .links a:hover{
    background: var(--main-color);
}



/* media queries */
@media (max-width:991px){

    html{
        font-size: 55%;
    }

    .header{
        padding: 1.5rem 2rem;
    }

    section{
        padding: 2rem;
    }


}

@media (max-width:768px){

    #menu-btn{
        display: inline-block;
    }

    .header .navbar{
        position: absolute;
        top:100%; right: -100%;
        background: #fff;
        width: 30rem;
        height: calc(100vh - 9.5rem);
    }

    .header .navbar.active{
        right: 0;
    }

    .header .navbar a{
        color:var(--black);
        display: block;
        margin: 1.5rem;
        padding: .5rem;
        font-size: 2rem;
    }

    .header .search-form{
        width: 90%;
        right: 2rem;
    }

    .home{
        background-position: left;
        justify-content: center;
        text-align: center;
    }

    .home .content h3{
        font-size: 4.5rem;
    }

    .home .content p{
        font-size: 1.5rem;
    }

}

@media (max-width:450px){

    html{
        font-size: 50%;
    }

}

/*responsive*/

@media(max-width: 767px){
	.portfolio .service-items .item{
	  flex:0 0 100%;
      max-width: 100%;
   }
   .popup-box .popup-content{
   	 width: calc(100% - 30px);
   }
}

@media screen and (min-width:992px){
    section {
        padding: 0 0.5em;
    }
    .container {
        flex-basis: 0 0 33.33%;
        max-width: 33.33%;
        padding: 0 0.5em;
    }
    
}
